:root {
    --secondary-background-color: #000000;
    --secondary-font-color: #ffffff;
    --background-color: #ffffff;
    --margin-color: #0395fc;
    --hover-color: #0395fc;
    --shadow-values: 1px 1px 5px;
}

* {
    border-color: #ff0000;
    border: 1px solid red;
}

html
{
    font-size: 32px;
}

body {
    margin: 0px;
    background-color: var(--margin-color);
}

main {
    margin: 78px 50px 25px 50px;
    padding: 0 20px 10px 20px;
    background-color: var(--background-color);
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    box-shadow: var(--shadow-values);
}

header {
    background-color: var(--secondary-background-color);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: start;
    list-style-type: none;
    margin: 10px 15px;
    padding: 0px;
    font-size: 0.6rem;
    font-family: sans-serif, "Courier new";
}

nav ul li+li {
    padding-left: 20px;
}

.nav-link {
    color: var(--secondary-font-color);
    text-decoration: none;
}

.hover-link:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.portrait {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #000000;
}

.hero-image {
    background-image: url(../images/green_vista.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -150px; 
    height: 300px;
    margin: 0px -20px 30px;
    display: flex;
    align-items: flex-end;
}

h1 {
    font-family: audiowide;
    color: var(--secondary-font-color);
    text-align: center;
    margin: 20px 0px 10px 10px;
    font-size: 3rem;
}

h2 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    font-size: .75rem;
}

.label {
    font-weight: 700;
}

section, article {
    font-size: .60rem;
    margin: 10px 25px 15px;
    border: 1px solid var(--secondary-background-color);
    padding: 10px 25px 15px 25px;
    box-shadow: var(--shadow-values);
}

.article_container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

section article.inline {
    margin: 0;
} 

article .date {
    font-weight: 700;
    font-size: .5rem;
}

article p {
    margin-top: 5px;
}

.thumbnail-article {
    display: flex;
    align-items:flex-start;
}

.thumbnail-article img {
    max-width: 500px;
}

.thumbnail-article figure {
    margin: 20px 20px 5px 0;
    position: relative;
}

.thumbnail-article figcaption {
    font-size: .5rem;
    border: 1px solid var(--secondary-background-color);
    padding: 10px 25px 10px 25px;
    box-shadow: var(--shadow-values);

    position: absolute;
    left: 10px;
    bottom: 63px;
    
    /* NB width and margin auto combine to center the element*/
    
    width: 75%;  
    margin: -50px auto;

    z-index: 2;
    background-color: var(--background-color);
}

.thumbnail-article-text {
    margin-top: 20px;
}

footer {
    background-color: var(--secondary-background-color);
    color: var(--secondary-font-color);
    
}

footer ul {
    padding: 10px 15px;
    list-style-type: none;
    font-size: .5rem;
}

footer a {
    color: var(--secondary-font-color);
    text-decoration: none;
    height: 100px;
}