:root {
    --secondary_color: #000000;
    --secondary-font: #ffffff;
    --background-color: #ffffff;
    --secondary-background-color: #0395fc;
    --shadow-values: 1px 1px 5px;
}

* {
    border-color: #ff0000;
    border: 1px solid red;
}

html
{
    font-size: 32px;
}

body {
    margin: 0px;
    background-color: var(--secondary-background-color);
}

main {
    margin: 78px 50px 25px 50px;
    padding: 0 20px 10px 20px;
    background-color: var(--background-color);
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    box-shadow: var(--shadow-values);
}

header {
    background-color: var(--secondary_color);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header nav ul{
    color: var(--secondary-font);
    display: flex;
    justify-content: start;
    list-style-type: none;
    margin: 10px 15px;
    padding: 0px;
    font-size: 0.6rem;
    font-family: sans-serif, "Courier new";
}

nav ul li+li {
    padding-left: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.portrait {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #000000;
}

h1 {
    font-family: audiowide;
    text-align: center;
    margin: 20px 0px 10px;
}

.label {
    font-weight: 700;
}

article {
    font-size: .60rem;
    margin: 10px 25px 15px;
    border: 1px solid var(--secondary_color);
    padding: 10px 25px 0px 25px;
    box-shadow: var(--shadow-values);
}

article .date {
    font-weight: 700;
    font-size: .5rem;
}

article p {
    margin-top: 5px;
}

footer {
    background-color: black;
    color: var(--secondary-font);
    padding: 1px;
}

footer ul {
    list-style-type: none;
    font-size: .5rem;
}

footer a {
    color: var(--secondary-font);
    text-decoration: none;
    height: 100px;
}